<!DOCTYPE html>
<html>
  <head>
   
    <title>VYNIL</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
  
  </head>

<body>
    <%= render 'shared/messages' %>
    <%= render 'layouts/navigation' %>
    <%= yield %>
  </body>
</html>

